@{
    ViewData["Title"] = "Главная страница сайта";
}

<h1>История создания языков программирования</h1>
<p>Когда создавались компьютеры и машинные строения всё было написано на машинном коде (последовательность 0 и 1). Концепция была сложной и тогда были предвидены создание языков программирования. После машинного кода появился язык Assembler, который до сих пор применяется в разработке. А дальше создавалась всё больше и больше понятных для человека языков программирования. И таким образом сейчас существуют около 8500 языков программирования.</p>
<BR>
<h1>Классификация языков программирования</h1>
<p>
    Языки программирования делятся на высокоуровневые и низкоуровневые.
    <ul class="list">
        <li>Языки низкого уровня: Машинный код, Assembler.</li>
        <li>Языки высокого уровня:</li>
        <ul class="list">
            <li>Объектно-ориентированные: Java, Python, C ++, Lisp и Perl.</li>
            <li>Логические: Prolog, LISP.</li>
            <li>Алгоритмические: Basik, Pascal, C.</li>
        </ul>
    </ul>

</p>
<BR>
<p><b>Объектно-ориентированное программирование</b> – программирование, ориентированное на данные и объекты.</p>
<p><b>Логические программирование</b> – программирование, в которой программы задаются в форме логических утверждений и правил вывода.</p>
<p><b>Алгоритмическое программирование</b> – программирование, основанное на разбиение программы на модули, которые выполняет одно или несколько действий.</p>
<BR>
<h1>На сколько актуально программирование?</h1>
<p>Сейчас достаточно взглянуть на современное общество, где сейчас развивается бизнес, маркетинг и многое другое и во всех этих сферах нужны технологии, для которых нужно писать код чтобы они работали, это и поддерживает актуальность профессии программиста.</p>